<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>Document</title>
	    <link href="<%= url('/completedGame.css') %>?v=1" rel="stylesheet" type="text/css"/>
	</head>
	<body>
	  <h1>¡Felicidades!</h1>
	  <h3>Completaste el nivel. Ahora cuentas con: puntos</h3>
	  <a href="/levels"><button type="submit">Volver a Niveles</button></a>
	  <a href="<%= url('/lobby') %>"><button type="submit">Volver a Categorías</button></a>
	</body>
</html>