<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
    <form action="/formulario" method="POST">
        <h1>CulturAR</h1>
        <div class="input-group">
            <input type="text" name="username" placeholder="username" required>
        </div>
        <div class="input-group">
            <input type="email" name="email" placeholder="email" required>
        </div>
        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="password" required>
            <div class="error-bubble">
                <p id="password-error"></p>
            </div>
        </div>
        <div class="input-group">
            <input type="password" id="password_repeat" name="password_repeat" placeholder="repeat password" required>
            <div class="error-bubble">
                <p id="password-repeat-error"></p>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
    <script src="<%= url('/script.js') %>"></script>
</body>
</html>
