<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form action="/formulario" method="POST">
        <input type="email" id="email" name="email" placeholder="email"/>
        <br>
        <input type="password" id="password" name="password" placeholder="password"/>
        <br>
        <button type="submit">submit</button> <!-- Envía nuestro formulario -->
        <br>
    </form>
</body>
</html>
