<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="<%= url('inicio.css') %>?v=1" rel="stylesheet" type="text/css"/>
    <style>
        h1 {
            margin-top: -30px;
        }
        h5 {
            margin-bottom: 20px;
        }
        a.signup {
            margin-top: 10px;
        }
        .cuadro {
            display: none; /* Initially hide the cuadro div */
        }
        .contenido {
            margin-top: 90px;
        }
    </style>
</head>
<body>
    <form action="/inicio" method="POST">
        <div id="inicio">
            <h1>CulturAR</h1>
            <button type="button" class="empezar-button" onclick="mostrarCuadro()">Empezar</button>
        </div>

        <div class="cuadro" id="cuadro">
            <div class="contenido">
                <h1>CulturAR</h1>
                <h5>Aprende sobre Argentina</h5>
                <a href="/registro" class="signup"><button type="button">Sign Up</button></a>
                <a href="/showLogin"><button type="button">Sign In</button></a>
            </div>
        </div>

    </form>

    <script>
        function mostrarCuadro() {
            var cuadro = document.getElementById('cuadro');
            cuadro.style.display = 'block'; // Show the cuadro div
            var inicio = document.getElementById('inicio');
            inicio.style.display = 'none'; // Hide the inicio div
        }
    </script>

</body>
</html>
