<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="<%= url('/inicio.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
    <form action="/inicio" method="POST">
      <a href="/registro"><button type="button">Sign Up</button></a>
      <button type="submit">Sign In</button>
      <br>
    </form>

</form>
</body>
</html>