<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="<%= url('/inicio.css') %>?v=1" rel="stylesheet" type="text/css"/>
    <style>
        h1 {
            margin-top: -30px;
        }
        h5 {
            margin-bottom: 20px;
        }
        a.signup {
            margin-top: 10px;
        }
    </style>
</head>
    <body>
        <form action="/inicio" method="POST">
        <input type="checkbox" id="toggle" />
        <div id="inicio">
            <h1>CulturAR</h1>
            <label for="toggle" class="empezar-label">
                <button type="button" class="empezar-button">Empezar</button>
            </label>
        </div>
        <div class="cuadro">
            <div class="contenido">
                <h1>CulturAR</h1>
                <h5>Aprende sobre Argentina</h5>
                <a href="/registro" class="signup"><button type="button">Sign Up</button></a>
                <a href="/showLogin"><button type="button">Sign In</button></a>
            </div>
        </div>

        </form>
    </body>

</html>