<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="<%= url('/inicio.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
    <form action="/inicio" method="POST">
      <h1>CulturAR</h1>
      <a href="/registro"><button type="button">Sign Up</button></a>
      <a href="/showLogin"><button type="button">Sign In</button></a>
      <br>
    </form>
</form>
</body>
</html>