<html>
  <head>
    <link href="<%= url('/levels.css') %>?v=1" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <header>
        <h1 id="title">Levels</h1>
    </header>
    <div class="niveles">
    <% @levelsCat.each do |l| %>
      <div class="nivel">
          <!--  gsub(/\s+/, "") es para eliminar espacios-->
          <a href="<%= url(@catLvl.name.downcase.to_s + '/' + l.name.downcase + '/questions') %>">
          <h3><%= l.name %></h3>
          </a> <!-- Mover el enlace <a> aquí -->
      </div>
    <% end %>
  </div>
  </body>
</html>
