<html>
  <head>
    <link href="<%= url('/levels.css') %>" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <header>
        <h1 id="title">Levels</h1>
    </header>
    <div class="niveles">
    <% Level.all.each do |l| %>
      <div class="nivel">
        <a href="<%= url(l.name.downcase + '/questions') %>">
          <h3><%= l.name %></h3>
          </a> <!-- Mover el enlace <a> aquí -->
      </div>
    <% end %>
  </div>
  </body>
</html>
