<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="<%= url('/login.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
    <% if @errorUsername %>
        <div class="alert alert-danger" role="alert">
            <%= @errorUsername%> 
        </div>
    <% end %>
    <% if @errorPassword %>
        <div class="alert alert-danger" role="alert">
            <%= @errorPassword%>
        </div>
    <% end %>
    <form action="/login" method="POST">
            <h1>CulturAR</h1>
            <input type="text" name="username" placeholder="username">
            <input type="password" id="password" name="password" placeholder="password"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
