<html>
  <head>
    <title>Ranking</title>
    <link href="<%= url('/ranking.css') %>?v=1" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <h1>Ranking</h1>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Puntos</th>
        </tr>
        </thead>
        <tbody>
            <% @rankings.each do |ranking| %>
                <tr>
                <td><%= ranking[0] %></td>
                <td><%= ranking[1] %></td>
                </tr>
            <% end %>
        </tbody>
  </table>
  </body>
</html>
