/* Resetear valores predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Fondo oscuro */
body {
    background-image: url('https://camo.githubusercontent.com/405ec87f325f46fb3b98dff86e47a3122360532127d9ea40aa9d78ce107b9d6a/68747470733a2f2f692e696d6775722e636f6d2f4c65756836776d2e676966');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#inicio {
    position: relative;
}

#inicio .empezar-label {
    display: inline-block;
    cursor: pointer;
}

#inicio .empezar-label .empezar-button {
    background-color: #5DC1B9;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

.cuadro {
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center the content horizontally */
    width: 350px;
    height: 400px;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 50px;
}


With this change, the content within the cuadro div will be vertically centered. The align-items: center; property centers the items horizontally, and the justify-content: center; property centers the items vertically.

Now, the content within the cuadro div should be both horizontally and vertically centered.

/* Estilos para los botones del formulario */
button[type="submit"] {
    background-color: #5DC1B9;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}
/* Estilos para el botón Sign In */
button[type="button"] {
    background-color: #5DC1B9;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}


/* Estilo para el botón Sign Up */
button[type="submit"]:nth-of-type(2) {
    background-color: #5DC1B9; /* Usa el mismo color que el otro botón */
}
