/* Reset default values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background color */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}


/* Profile photo */
.profile-photo {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#photo-form {
    display: none;
}

#show-form {
    background-color: #5DC1B9;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

#photo_link {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

#photo-submit {
    background-color: #5DC1B9;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}