/* Resetear valores predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo oscuro */
body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 10px;
  width: 700px; /* Modificar el ancho a 250px */
  height: 85px; /* Agregar altura de 350px */
  border-radius: 10px; /*Agregar esta línea para hacer las esquinas*/
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}


.option input[type="radio"]:checked + span {
  font-weight: bold; /* Aplica estilo a la opción seleccionada */
}

.option:hover {
  transform: scale(1.1); /* Aumentar el tamaño en un 10% */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Cambiar el color de la sombra */
  transform: scale(1.05);
  background-color: #2b2b2b;
  color: #52E2FF;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.question h2 {
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
}


button[type="submit"] {
    background-color: #5DC1B9;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}
/* Estilos para el botón Sign In */
button[type="submit"] {
    background-color: #5DC1B9;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}
