/* Resetear valores predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo oscuro */
body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Estilos para los campos del formulario */
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 300px;
}

/* Estilos para los campos de entrada */

input[type="text"], input[type="email"], input[type="password"] {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background-color: #333;
  color: #fff;
  width: 300px;
  font-size: 16px;
}
 
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
  outline: none;
}


input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus {
    outline: none;
}

/* Estilos para el botón del formulario */
button[type="Submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

button[type="Submit"]:hover {
    background-color: #3e8e41;
}

/* Estilos para la alerta de error */
.alert {
    background-color: #ffcccc;
    color: #ff0000;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    opacity: 0.7;
}
